.clr {
  clear: both;
}

.relative {
	position: relative;
}

.hidden {
	overflow: hidden;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.align-center {
	text-align: center;
}
