body {
	font-size: 14px;
	line-height: 18px;
	color: $g;
	font-family: Tahoma, sans-serif;
	background-color: #fff;
	min-width: 860px;
	opacity: 0;
	@include tsp(opacity,ease,0.3s);

	&.loaded {
		opacity: 1;
	}
}

a {
	color: #fff;
	text-decoration: none;
}

h1, h2, h3 {
	font-family: $lato;
	color: $b;
	font-weight: 700;
}

//Grid
//-------------------------------------------------------------------------------------
