body {
	font-size: 18px;
	line-height: 20px;
	color: $g;
	font-family: Tahoma, sans-serif;
	background-color: #fff;
	min-width: 320px;
	overflow: hidden;
}

a {
	color: #f;
	text-decoration: none;
}

//Grid
//-------------------------------------------------------------------------------------
